# =========================
# Node / npm
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Environment variables
# =========================
.env
.env.local
.env.development
.env.production

# =========================
# Build outputs
# =========================
dist/
build/

# =========================
# Logs
# =========================
logs
*.log

# =========================
# OS / Editor files
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Socket / temp
# =========================
*.pid
*.seed
*.pid.lock

# =========================
# Coverage
# =========================
coverage/
